<div class="post-card" style="flex: 1 1 2000px; min-height: 125px; background-color: #FFF;">
	    <div class="post-card-content">
        <span class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title" style="color: #F15854;">Stem nu op <span style="font-weight: bold; font-family: Merriweather,serif;">De Brugse Stem</span> voor de Best Of Brugge awards!</h2>
            </header>
             <section class="post-card-excerpt">
                Geef ons jouw stem via <a href="https://www.villabota.be/bob" target="_blank">de website van Villa Bota</a> en win helemaal niks.
            </section>
        </span>
       
    </div>
</div>