<div class="post-card" style="flex: 1 1 2000px; min-height: 75px; background-color: #F15854;">
	    <div class="post-card-content">
        <span class="post-card-content-link">
            <header class="post-card-header">
                <h2 class="post-card-title" style="color: white;">Gebeten door correcte, eerlijke journalistiek?</h2>
            </header>
             <section class="post-card-excerpt" style="color: white;">
                <p>Help ons Brugge opnieuw groot maken en stuur ons jouw bijdrage <a href="https://www.facebook.com/hetValtTochNogMee/" target="_blank" style="color: #ffffbb;">via Facebook</a> of <a href="/contacteer-ons" style="color: #ffffbb;">via email</a></p>
            </section>
        </span>
       
    </div>
</div>